:root {
    --yellow: yellow;
    --orange: orange;
    --black: black;
}

html {
    box-sizing: border-box;
    font-weight: 700;
    color: var(--black);
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, var(--orange), var(--black));
    margin: 20px;
}

.wrapper {
    display: grid;
    gap: 20px;
}

.top {
    display: grid;
    gap: 20px;
    grid-template-areas: "party party cta1" "party party cta2"
}

.party {
    grid-area: party;
    min-height: 450px;
    background-image: url('../img/Pilt.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.party > *{
    background: var(--yellow);
    padding: 5px;
}
.cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta1 {
    grid-area: cta1;
}

.cta2 {
    grid-area: cta2;
}

.price {
    font-size: 3rem;
    font-weight: 300;
}

.cta p{
    margin: 0;
}

.button {
    background: var(--yellow);
    border: 0;
    padding:20px;
}

.menu ul{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a{
    background: var(--yellow);
    display: block; 
    text-align: center;
    text-decoration: none;
    color:black;
    padding: 10px;
    text-transform: uppercase;
}

[aria-controls="menu-list"] {
    display: none;
}

/*Feature section*/

.features {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.feature {
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0, 0.1);
    margin: 1rem;
}

.feature .icon{
    font-size: 3rem;
}
.feature p {
    color: rgba(0, 0, 0, 0, 0.5)
}

.about {
    background: #fff;
    padding: 50px;
    margin: 1rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;
    align-items: center;
}

.btnn{
    margin: 1rem;
    padding: 1rem;
    background-color: orange;
}

.gallery {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
.gallery img {
    width: 100%;
}

.gallery h2 {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1f auto 1fr;
    gap: 20px;
    align-items: center;
}

.gallery h2{
    display: block;
    content: "";
    height: 10px;
    background: linear-gradient(to left, var(--yellow), transparent);
}

.gallery h2::after{
    display: block;
    content: "";
    height: 10px;
    background: linear-gradient(to right, var(--yellow), transparent);
}

@media (max-width: 1000px) {
    .menu {
        order: -1;
    }
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 20px;
    }

    [aria-expanded="false"] .close {
        display: none;
    }

    [aria-expanded="true"] .open {
        display: none;
    }

    .menu ul {
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0,5s;
        font-size: 1rem;
    }

    .menu ul li {
        font-size: 1rem;
    }

    [aria-expanded="true"] ~ul {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }
}

@media (max-width: 700px) {
    body{
        margin: 0;
    }

    .top{
        grid-template-areas: "party party party" "cta1 cta2"
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about img {
        width: 85%;
    }
}

@media (max-width: 500px) {
    .top {
        grid-template-areas: "party" "cta1" "cta2"
    }

}